<style>
      .my_new a {
        margin-bottom: 200px;
    }
    .my_text h3 {
        margin-top: 20px;
        margin-bottom:20px;
    }
    .my_button{
    margin-top: 10px;
    margin-bottom: 200px;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#username{
margin-bottom:20px;
}
#password{
margin-bottom:5px;
}
 .my_custom_button {
        margin-top:5px;
        margin-bottom: 20px;
    }
</style>
{% extends 'base.html' %}
{%  load static %}
{% block metadescription %}

{% endblock %}
{% block title %}
Login
{% endblock %}
{% block content %}
<form action="{% url 'bankapp:login' %}" method="post">
           {% csrf_token %}
        <div class="container" >
            <div class="text-center my_text" >
                <div class="my_text">
                <h3 class="my_text">Login Here</h3>
                 </div>
                </div>
        </div>
        <div class="text-center">
        <label for="username">username</label>
        <input type="text" placeholder="username" name="username" id="username" required><br>

        <label for="password">password</label>
        <input type="password" placeholder="Password" name="password"  id="password" required><br>


<!--         <a href="" class="btn btn-secondary btn-block my_button">Submit</a>-->
            <input type="submit"  value="Submit" class="btn btn-secondary btn-block my_button">


         <div class="my_new">
          <a href="{% url 'bankapp:register' %}" type="text">Click here to Register</a>
         </div>
         </div>
</form>


{% endblock %}



















