<style>
    .my_text h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .my_button {
        margin-top: 10px;
        margin-bottom: 300px;
        background-color: #ffffff;
        color: #080710;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    #username,
    #password,
    #passwordone,
     #password2,
     #email{
        margin-bottom: 20px;
        padding: 10px;
        width: 300px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }
</style>
{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

{% endblock %}
{% block title %}
Register
{% endblock %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="text-center my_text">
            <div class="my_text">
                <h3 class="my_text">Registration Form</h3>
            </div>
        </div>
    </div>
    <div class="text-center">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username"><br>

        <label for="email">Email</label>
        <input type="email" placeholder="email" name="email"  id="email" required><br>


        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password"  id="password"><br>

        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2"><br>
        <br>

        <input type="submit" value="Submit" class="btn btn-secondary btn-block my_button">
    </div>
</form>

{% endblock %}

