<style>

    .my_text h3 {
    margin-top:20px;
    margin-bottom:20px;
    }

    .my_button{
    margin-top: 10px;
    margin-bottom: 300px;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#username{
margin-bottom:20px;
}
#password{
margin-bottom:20px;
}
#passwordone{
margin-bottom:20px;
}

</style>
{% extends 'base.html' %}
{%  load static %}
{% block metadescription %}

{% endblock %}
{% block title %}
Register
{% endblock %}
{% block content %}
<form action="" method="post">
        {% csrf_token %}
        <div class="form-container" >
            <div class="text-center my_text" >
                <div class="my_text">
                <h3 class="my_text">Registration Form</h3>
                 </div>
                </div>
        </div>
        <div class="text-center">
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" name="username" id="username"><br>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password"  id="password"><br>
            <label for="password">Confirm Password</label>
        <input type="password" placeholder="Password" name="password"  id="passwordone"><br>
               <a href="{% url 'bankapp:login' %}" class="btn btn-secondary btn-block my_button">Submit</a>

        </div>
</form>

{% endblock %}